/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  =======================================
  Custom Styles
  =======================================
*/

body {
  color: #FFF;
  font: .5em/.75em'Roboto Slab', serif;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4.5em;
  line-height: 1em;
}
h3 {
  font-size: 2.5em;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  height: 100vh;
}

.footer {
  height: 6em;
}

/*
  =======================================
  Navbar
  =======================================
*/
.navbar {
  border-bottom: .08em solid rgba(255, 255, 255, .5);
  height: 2.5em;
  padding-top: .2em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar li {
  display: inline-block;
  font-size: 1.75em;
  line-height: 0;
  margin: 0 1.3em;
  text-transform: uppercase;
  vertical-align: text-bottom;
}

/*
  =======================================
  Hero
  =======================================
*/

.hero {
  background: #676661 url('dark-cloudy-mountain.jpg') center no-repeat fixed;
  background-size: cover;
  text-align: center;
}
.hero h3 {
  color: #EB6D57;
  margin-top: 1em;
}

/*
  ======================================
  About
  ======================================
*/

.about {
  background-color: #3B3C37;
} 

/*
  ======================================
  Portfolio
  ======================================
*/

.portfolio {  
  background-color: #676661;
}

/*
  ======================================
  Footer
  ======================================
*/

.footer {
  background-color: #3B3C37;
}

/*
  =======================================
  Links
  =======================================
*/

a {
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

/*
  =======================================
  Flexbox
  =======================================
*/

.flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
  =======================================
  Media Queries
  =======================================
*/
/* make navbar responsive */
@media all and (min-width: 400px) {
  body {
    font-size: .6em;
    line-height: .85em;
  }
}
@media all and (min-width: 600px) {
  body {
    font-size: .8em;
    line-height: 1.05em;
  }
  .navbar li {
    margin: 0 2.3em;
  }
}
@media all and (min-width: 1000px) {
}
@media all and (min-width: 1400px) {
  .navbar li{
    margin: 0 3em;
  }
}
