/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  =======================================
  Custom Styles
  =======================================
*/

body {
  color: #FFF;
  font: .5em/.75em'Roboto Slab', serif;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4.5em;
  line-height: 1em;
}
h2 {
  border-bottom: .1em solid #b0bbf1;
  font-size: 3.5em;
  line-height: 1em;
  padding-top: 1.75em;
  margin-bottom: .5em;
}
h3 {
  font-size: 2.5em;
}
/* make images responsive */
img {
  border: .5em solid #b0bbf1;
  max-width: 100%;
  height: auto;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  padding-bottom: 6em;
}

/*
  =======================================
  Navbar
  =======================================
*/
.navbar {
  border-bottom: .08em solid rgba(255, 255, 255, .5);
  height: 2.5em;
  padding-top: .2em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar li {
  display: inline-block;
  font-size: 1.75em;
  line-height: 0;
  margin: 0 1.3em;
  text-transform: uppercase;
  vertical-align: text-bottom;
}

/*
  =======================================
  Hero
  =======================================
*/

.hero {
  background: #000 url('flashlight.jpg') center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.hero h3 {
  color: #b0bbf1;
  margin-top: 1em;
}

/*
  ======================================
  About
  ======================================
*/

.about {
  background-color: #362f41;
}

.about img {
  border-radius: 50%;
  max-width: 40%;
  height: auto;
}
.about p {
  font-size: 1.75em;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 3.75em;
  text-align: center;
  width: 70%;
}
/*
  ======================================
  Portfolio
  ======================================
*/

.img_container {
  margin: 1.5em 0em;
  position: relative;
}

.overlay {
  align-content: flex-start;
  align-items: center;
  background-color: #362f41;
  border: 3px solid #b0bbf1;
  border-radius: 3px;
  bottom: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2.5em;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .5s ease;
  width: 100%;
}

.img_container:hover .overlay {
  opacity: 1;
}

.portfolio {  
  background-color: #000;
  padding-bottom: 3em;
}

.main_container {
  width: 90%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.portfolio img {
  border: 3px solid #b0bbf1;
  border-radius: 3px;
  width: 100%;
}

/*
  ======================================
  Footer
  ======================================
*/

.footer {
  background-color: #362f41;
}
.footer div {
  font-size: 5em;
  text-align: center;
  width: 100%;
}
i {
  margin: .5em 0;
  width: 24%;
}

/*
  =======================================
  Links
  =======================================
*/

a {
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

/*
  =======================================
  Flexbox
  =======================================
*/

.flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
  =======================================
  Media Queries
  =======================================
*/
/* make navbar responsive */
@media screen and (min-width: 400px) {
  body {
    font-size: .6em;
    line-height: .85em;
  }
}
@media screen and (min-width: 600px) {
  body {
    font-size: .7em;
    line-height: .95em;
  }
  .navbar {
    font-size: 1em;
  }
  .navbar li {
    margin: 0 2.3em;
  }
/* about section */
  .about img {
    width: 30%;
  }
  .about p {
    margin-top: .75em;
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 5.5em;
  }
  h2 {
    font-size: 4.5em;
  }
  h3 {
    font-size: 3.5em;
  }
  /* about section */
  .about img {
    width: 20%;
  }
  .about p {
    font-size: 2em;
    line-height: 1.75em;
    width: 60%;
  }
  /* portfolio section */
  .main_container; {
    width: 80%;
  }
  .img_container {
    width: 40%;
    margin: 1.5em 1.5em;
  }
  .portfolio img {
    width: 100%;
  }
  /* footer section */
  i {
    width: 8%;
  }
}
@media screen and (min-width: 1400px) {
  .navbar li{
    margin: 0 3em;
  }
}
